main {
  #flex-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 1;
    gap: 0;
    .pic {
      width: calc(100% / 2);
      height: 100%;
      margin: -5px 0;
      img {
        width: 100%;
      }
    }
  }
}
