main {
  #flex-sections {
    .container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      .img-box {
        width: 100%;
        height: 60%;
        img {
          width: 100%;
        }
      }
      .content-box {
        padding: 2.1rem 2rem;
        h4 {
          font-size: 1.8rem;
          font-family: $f-frounces;
          font-weight: 900;
        }
        p {
          color: $Dark-grayish-blue;
          line-height: 1.5rem;
          font-size: 1rem;
        }
        .btn-yellow {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: 30%;
            top: 70%;
            padding: 0.4rem 2.4rem;
            background: rgb(255, 255, 255);
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 81%,
              hsl(51, 100%, 49%) 10%
            );
          }
          &:hover {
            background: rgb(255, 255, 255);
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 81%,
              hsl(51, 98%, 32%) 10%
            );
          }
        }
        .btn-red {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: 30%;
            top: 70%;
            padding: 0.4rem 2.4rem;
            background: rgb(255, 255, 255);
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 81%,
              hsl(7, 99%, 70%) 10%
            );
          }
          &:hover {
            background: rgb(255, 255, 255);
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 81%,
              hsl(7, 100%, 47%) 10%
            );
          }
        }
      }
    }
    .bg-content {
      position: relative;
      height: 80vh;
      width: 100%;
      background-position: center;
      background-size: contain;
      background-clip: border-box;
      background-size: cover;
      background-position-y: top;
      .content-down {
        position: absolute;
        bottom: 5%;
        right: 0;
        left: 0;
        h5 {
          font-size: 1.7rem;
          font-family: $f-frounces;
          font-weight: 900;
        }
        p {
          padding: 0 0.8rem;
          font-size: 1.1rem;
        }
      }
    }
    .photg {
      background-image: url(images/mobile/image-photography.jpg);
      .content-down {
        color: $Dark-blue;
      }
    }
    .grph {
      background-image: url(images/mobile/image-graphic-design.jpg);
      .content-down {
        color: $Dark-desaturated-cyan;
      }
    }
    .container:nth-child(2) {
      flex-direction: column;
    }
    @media (min-width: 1440px) {
      .container {
        flex-direction: row;
        justify-content: space-around;
        margin-top: -10px;
        .img-box {
          width: 100%;
          height: 50%;
          img {
            width: 100%;
          }
        }
        .content-box {
          padding: 1.1rem 3rem;
          text-align: left;
          width: 87%;
          h4 {
            font-size: 2rem;
            width: 50%;
          }
          p {
            color: $Dark-grayish-blue;
            line-height: 2rem;
            font-size: 1.2rem;
            width: 80%;
          }
        }
        .bg-content {
          position: relative;
          height: 50vh;
          width: 100%;
          background-position: center;
          background-size: cover;
          background-clip: content-box;
          .content-down {
            width: 95%;
            text-align: center;
            p {
              width: 50%;
              margin: 0 auto;
              line-height: 2rem;
            }
          }
        }
        .photg {
          background-image: url(images/desktop/image-photography.jpg);
        }
        .grph {
          background-image: url(images/desktop/image-graphic-design.jpg);
        }
      }
      .container:nth-child(2) {
        flex-direction: row;
      }
    }
  }
}
