main {
  #hero {
    padding: 0;
    height: 50vh;
    background-image: url(/styles/images/mobile/image-header.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .text-box {
      position: absolute;
      top: 6%;
      h2 {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        color: $White;
        font-family: $f-frounces;
      }
      img {
        height: 100%;
      }
    }
    @media (min-width: 1440px) {
      height: 100vh;
      width: 100vw;
      background-image: url(/styles/images/desktop/image-header.jpg);
      background-size: cover;
      .text-box {
        width: 97%;
        text-align: center;
        h2 {
          font-size: 3rem;
          font-weight: 900;
        }
      }
    }
  }
}
