nav {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $nav-color;
  margin-bottom: -5px;
  @media (min-width: 1440px) {
    padding: 2rem;
    .nav-links {
      width: 30%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: $White;
      }
      .nav-btn {
        padding: 1rem 2rem;
        border: 0;
        outline: none;
        background-color: $White;
        color: #000;
        border-radius: 24px;
        letter-spacing: 0.2rem;
        &:hover {
          background-color: rgba(255, 255, 255, 0.562);
          color: $White;
        }
      }
    }
  }
}
