body {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $f-barlow;
  font-size: $F-size;
  overflow-x: hidden;
  height: 100vh;
}

.btn {
  border: 0;
  outline: hidden;
  padding: 0.2rem 0.9rem;
  font-family: $f-frounces;
  font-weight: 900;
  font-size: 0.9rem;
  background-color: transparent;
  text-transform: uppercase;
}
