@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

@import "variables";
@import "roots";
@import "nav";
@import "main-hero";
@import "main-flexSections";
@import "main-testimon";
@import "main-flex-images";
@import "footer";
